<div class="row align-items-end mb-4 g-3">
  <div class="col-md-3">
    <div class="d-flex align-items-center" style="gap: 8px;">
      <!-- Year Selector -->
      <div class="flex-grow-1">
        <ngx-select-dropdown 
          [config]="yearDropdownConfig"
          [options]="years"
          [(ngModel)]="selectedYear"
          (change)="onYearSelect($event)"
        ></ngx-select-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="card shadow-sm p-4">
  <canvas #emittersCanvas height="400"></canvas>
</div>
